.msg-list{
    list-style: none;
    .msg-container{
        display: grid;
        grid-template-columns: 3em 1fr;
        grid-template-rows: 3em 3em;
        grid-template-areas: 
        "avatar user"
        "avatar msg-txt";
        .avatar{
            // placeholder
            // border-radius: 1em;
            grid-area: avatar;
        }
        .user{
            grid-area: user;
        }
        .msg-txt{
            grid-area: msg-txt;
        }
    }
}